{  "extends": [
  "plugin:@typescript-eslint/recommended"
],
  "rules": {
    "camelcase": 1, //驼峰命名
    "import/no-webpack-loader-syntax": 0,
    "no-dupe-class-members": 2, //重复命名的类成员
    "@typescript-eslint/no-unused-vars": "error",
    "no-useless-concat": 1, //无效的拼接
    "no-multi-spaces": 1
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "parserOptions": {
        "project": [
          "./tsconfig.json"
        ]
      }
    }
  ],
  "parser": "@typescript-eslint/parser"
}
